$box-color: #545454;// #789d38;
#scenes-wrapper {
	// background-color: #93E4FA;
	padding: 1px;
}
#scenes {
	// background-color: #E9E9E9;
	position: relative;
	min-height: 400px;
	.scene {
		position: absolute;
		bottom:0; 
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.text {
		position: absolute;
		bottom:0; 
		left: 50%;
		width: 300px;
		transform: translate(-50%, -50%);
		background-color: #FAFAFA;// rgba($box-color, 0.1);
		filter: alpha(opacity=0); 
		opacity: 0;
		z-index: 100;
		border: 1px solid $box-color;
		h6 {
			background-color: $box-color;
			color: $white;
			font-weight: bold;
			padding-left: 8px;
			padding-right: 8px;;
		}
		p {
			padding: 0 8px;
			color: #515151
		}
	}
	.text.right {text-align: right}
}
.scene  {position: relative}
#scene1 {z-index: 107}
#scene2 {z-index: 106}
#scene3 {z-index: 105}
#scene4 {z-index: 104}
#scene5 {z-index: 103}
#scene6 {z-index: 102}
#scene7 {z-index: 101}